# ==========================================
# 1. Артефакти збірки (Build Artifacts)
# ==========================================
# Об'єктні файли
*.o
*.obj

# Асемблерні та лістингові файли
*.ls
*.asm
*.lst

# Файли лінкера та карти пам'яті
*.map
*.lkf
*.cdb

# Фінальні бінарники та прошивки (зазвичай їх не комітять)
*.hex
*.elf
*.s19
*.bin

# ==========================================
# 2. Файли середовища розробки (IDE)
# ==========================================
.vscode/

# Якщо хтось відкриє проєкт у CLion або IAR
.idea/
*.eww
*.ewp
*.ewd

# ==========================================
# 3. Системні файли ОС
# ==========================================
# Сміття від Windows
Thumbs.db
desktop.ini

# Сміття від macOS
.DS_Store